body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1332px;
}
#u3469_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1332px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3469_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1332px;
}
#u3470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1332px;
  display:flex;
  text-align:left;
}
#u3470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3471 {
  border-width:0px;
  position:absolute;
  left:1552px;
  top:490px;
  width:0px;
  height:0px;
}
#u3471_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-25px;
  width:10px;
  height:25px;
}
#u3471_seg1 {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-25px;
  width:142px;
  height:10px;
}
#u3471_seg2 {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-25px;
  width:10px;
  height:79px;
}
#u3471_seg3 {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:44px;
  width:26px;
  height:10px;
}
#u3471_seg4 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:49px;
  width:10px;
  height:5px;
}
#u3471_seg5 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:39px;
  width:18px;
  height:18px;
}
#u3471_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u3473 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:482px;
  width:18px;
  height:18px;
  display:flex;
}
#u3473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3475 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:532px;
  width:122px;
  height:23px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3475_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u3476 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:532px;
  width:1px;
  height:14px;
  display:flex;
}
#u3476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3477 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:490px;
  width:0px;
  height:0px;
}
#u3477_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:34px;
  height:10px;
}
#u3477_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:10px;
  height:5px;
}
#u3477_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:18px;
  height:18px;
}
#u3477_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u3479 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:482px;
  width:18px;
  height:18px;
  display:flex;
}
#u3479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3481 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:483px;
  width:108px;
  height:23px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3481_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u3482 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:483px;
  width:1px;
  height:14px;
  display:flex;
}
#u3482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3483 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:562px;
  width:0px;
  height:0px;
}
#u3483_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:5px;
}
#u3483_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:100px;
  height:10px;
}
#u3483_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-5px;
  width:10px;
  height:50px;
}
#u3483_seg3 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:35px;
  width:26px;
  height:10px;
}
#u3483_seg4 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:40px;
  width:10px;
  height:5px;
}
#u3483_seg5 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:30px;
  width:18px;
  height:18px;
}
#u3483_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u3485 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:554px;
  width:18px;
  height:18px;
  display:flex;
}
#u3485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3487 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:595px;
  width:211px;
  height:23px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3487 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3487_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u3488 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:595px;
  width:1px;
  height:14px;
  display:flex;
}
#u3488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3489 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:112px;
  width:0px;
  height:0px;
}
#u3489_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:5px;
}
#u3489_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:39px;
  height:10px;
}
#u3489_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:10px;
  height:5px;
}
#u3489_seg3 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:18px;
  height:18px;
}
#u3489_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u3491 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:104px;
  width:18px;
  height:18px;
  display:flex;
}
#u3491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u3493 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:105px;
  width:1px;
  height:14px;
  display:flex;
}
#u3493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3494 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:104px;
  width:60px;
  height:33px;
}
#u3494_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3494_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3496 {
  position:absolute;
  left:0px;
  top:0px;
}
#u3496_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:378px;
  height:159px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3496_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3498_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:30px;
  height:30px;
  display:flex;
}
#u3498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3499 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:51px;
  width:252px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3499_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3501_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:30px;
  height:30px;
  display:flex;
}
#u3501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3502 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:92px;
  width:288px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3502 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3502_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3504_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:30px;
  height:30px;
  display:flex;
}
#u3504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3505 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:134px;
  width:252px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3505_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:378px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3506 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3506_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
