body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1332px;
}
#u12042_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1332px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12042_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1332px;
}
#u12043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1332px;
  display:flex;
  text-align:left;
}
#u12043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12044 {
  border-width:0px;
  position:absolute;
  left:1552px;
  top:490px;
  width:0px;
  height:0px;
}
#u12044_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-25px;
  width:10px;
  height:25px;
}
#u12044_seg1 {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-25px;
  width:142px;
  height:10px;
}
#u12044_seg2 {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-25px;
  width:10px;
  height:79px;
}
#u12044_seg3 {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:44px;
  width:26px;
  height:10px;
}
#u12044_seg4 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:49px;
  width:10px;
  height:5px;
}
#u12044_seg5 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:39px;
  width:18px;
  height:18px;
}
#u12044_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u12046 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:482px;
  width:18px;
  height:18px;
  display:flex;
}
#u12046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12048 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:532px;
  width:122px;
  height:23px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12048 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u12048_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u12049 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:532px;
  width:1px;
  height:14px;
  display:flex;
}
#u12049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12050 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:490px;
  width:0px;
  height:0px;
}
#u12050_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:34px;
  height:10px;
}
#u12050_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:10px;
  height:5px;
}
#u12050_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:18px;
  height:18px;
}
#u12050_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u12052 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:482px;
  width:18px;
  height:18px;
  display:flex;
}
#u12052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12054 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:483px;
  width:108px;
  height:23px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12054 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u12054_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u12055 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:483px;
  width:1px;
  height:14px;
  display:flex;
}
#u12055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12056 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:562px;
  width:0px;
  height:0px;
}
#u12056_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:5px;
}
#u12056_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:100px;
  height:10px;
}
#u12056_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-5px;
  width:10px;
  height:50px;
}
#u12056_seg3 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:35px;
  width:26px;
  height:10px;
}
#u12056_seg4 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:40px;
  width:10px;
  height:5px;
}
#u12056_seg5 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:30px;
  width:18px;
  height:18px;
}
#u12056_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u12058 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:554px;
  width:18px;
  height:18px;
  display:flex;
}
#u12058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12060 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:595px;
  width:211px;
  height:23px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12060 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u12060_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u12061 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:595px;
  width:1px;
  height:14px;
  display:flex;
}
#u12061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12062 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:112px;
  width:0px;
  height:0px;
}
#u12062_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:5px;
}
#u12062_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:39px;
  height:10px;
}
#u12062_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:10px;
  height:5px;
}
#u12062_seg3 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:18px;
  height:18px;
}
#u12062_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u12064 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:104px;
  width:18px;
  height:18px;
  display:flex;
}
#u12064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u12066 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:105px;
  width:1px;
  height:14px;
  display:flex;
}
#u12066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12067 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:104px;
  width:60px;
  height:33px;
}
#u12067_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12067_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12069 {
  position:absolute;
  left:0px;
  top:0px;
}
#u12069_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:378px;
  height:159px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12069_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12071_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u12071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:30px;
  height:30px;
  display:flex;
}
#u12071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12072 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:51px;
  width:252px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12072 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12072_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12074_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u12074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:30px;
  height:30px;
  display:flex;
}
#u12074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12075 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:92px;
  width:288px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12075 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12075_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12077_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u12077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:30px;
  height:30px;
  display:flex;
}
#u12077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12078 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:134px;
  width:252px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12078 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12078_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:378px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12079 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12079_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
